html {
  font-family: "IBM Plex Mono", monospace;
}

#calculator-background {
  display: flex;
  flex-direction: column;
  background-color: darkslategray;
  align-items: center;
  align-content: center;
  border-radius: 10px;
  padding: 15px;
  width: 325px;
}

#calculator-container {
  display: grid;
  grid-template-columns: 80px 80px 80px 80px;
  grid-template-rows: 80px 80px 80px 80px 80px 80px;
}

#calculator-container > button {
  font-size: 32px;
  border-radius: 0;
}

#calculator-container > button:hover {
  background-color: black;
  color: white;
}

#decimal {
  grid-column: 1;
  grid-row: 6;
}
#zero {
  grid-column: 2;
  grid-row: 6;
}
#delete {
  grid-column: 3;
  grid-row: 6;
}
#equals {
  grid-column: 4;
  grid-row: 6;
}

#one {
  grid-column: 1;
  grid-row: 5;
}
#two {
  grid-column: 2;
  grid-row: 5;
}
#three {
  grid-column: 3;
  grid-row: 5;
}
#add {
  grid-column: 4;
  grid-row: 5;
}

#four {
  grid-column: 1;
  grid-row: 4;
}
#five {
  grid-column: 2;
  grid-row: 4;
}
#six {
  grid-column: 3;
  grid-row: 4;
}
#subtract {
  grid-column: 4;
  grid-row: 4;
}

#seven {
  grid-column: 1;
  grid-row: 3;
}
#eight {
  grid-column: 2;
  grid-row: 3;
}
#nine {
  grid-column: 3;
  grid-row: 3;
}
#multiply {
  grid-column: 4;
  grid-row: 3;
}

#display {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: #7fbf3f;
  font-size: 36px;
  text-align: right;
}

#lower-display {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: #7fbf3f;
  font-size: 20px;
  text-align: right;
}

#divide {
  grid-column: 4;
  grid-row: 2;
}
#clear {
  grid-column: 4;
  grid-row: 1;
  background: orangered;
  color: white;
}
